pip
setuptools>=65
wheel

python-telegram-bot==20.7
requests==2.31.0
openpyxl==3.1.2

# Используем версии с гарантированными wheels под Linux
numpy==1.24.4
pandas==2.0.3

python-dotenv==1.0.0
